body{
    margin: 0;
    height: 100vh;
    background-color: black;
}

span{
    background: url("https: //cdn4.iconfinder.com/data/icons/set-1/32/__1-256.png"); 
    width: 100px;
    height: 100px;
    position: absolute;
    background-size: cover;
    left: 50%;
    top: 50%;
    transform: translate (-50%, -50%);
}